/**
* Front Editor CSS
**/
.thpp-panel {
    position: relative;
    width:100%;
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}

.thpp-partner:hover{
    opacity: 0.7;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

@media (max-width: 991.98px) {

    
    
}
